body {
  overflow-x: hidden;
}
a {
  text-decoration: none !important;
  outline: none !important;
}
header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 50;
}
header .header_wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 39px;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_wrapper .header__menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 20px;
}
header .header_wrapper .header__menu a {
  position: relative;
  width: auto;
  text-align: center;
  min-width: 100px;
  margin-right: 44px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #141414;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .header_wrapper .header__menu a:last-child {
  margin-right: unset;
}
header .header_wrapper .header__menu a:hover {
  color: #4C86A0;
}
header .header_wrapper .header__menu a:hover img {
  width: 100%;
}
header .header_wrapper .header__menu a img {
  position: relative;
  width: 0;
  height: 5.68px;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}
header .header_wrapper .header__lang_panel {
  position: relative;
}
header .header_wrapper .header__lang_panel .fade_up_panel {
  position: absolute;
  background: url(../img/Union.svg) no-repeat center;
  width: 179px;
  height: 105px;
  left: -140px;
  opacity: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #58595B;
}
header .header_wrapper .header__lang_panel .fade_up_panel .first_lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 2px 6px 0;
  margin: 0 8px 0 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 0.5px solid #c4c4c4;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
header .header_wrapper .header__lang_panel .fade_up_panel .first_lang:hover {
  color: #4C86A0;
}
header .header_wrapper .header__lang_panel .fade_up_panel .second_lang {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 11px 8px 6px 18px;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  cursor: pointer;
}
header .header_wrapper .header__lang_panel .fade_up_panel .second_lang:hover {
  color: #4C86A0;
}
header .header_wrapper .lang_button {
  border: none;
  outline: none;
  background: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
header .header_wrapper .lang_button p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  /* identical to box height */
  color: #4C86A0;
  margin-right: 7px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .header_wrapper .lang_button svg {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
header .header_wrapper .lang_button:hover svg {
  -webkit-transform: rotateX(180deg);
          transform: rotateX(180deg);
}
header .header_wrapper .lang_button:hover svg path {
  fill: #000;
}
header .header_wrapper .lang_button:hover p {
  color: #000;
}
.scroll-header {
  background: #fff;
  padding-bottom: 20px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  -webkit-box-shadow: 0px 5px 25px -5px rgba(34, 60, 80, 0.6);
  box-shadow: 0px 5px 25px -5px rgba(34, 60, 80, 0.6);
}
main .banner {
  display: block;
  width: 100%;
  position: relative;
  height: 807px;
  margin-bottom: 62px;
  overflow: hidden;
}
main .banner .banner_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
main .banner .banner_wrapper .banner_title {
  max-width: 780px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 46px;
  line-height: 108.01%;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-left: 0;
  padding-top: 40vh;
  position: relative;
  z-index: 10;
}
main .banner .banner_mountain {
  position: absolute;
  width: 100vw;
  height: 105%;
  top: 0;
  left: 0;
  background-repeat: repeat-x;
  background-position: left center;
  z-index: 0;
}
main .banner .banner_mountain img {
  position: absolute;
  width: 110%;
  height: 100%;
  top: 0;
  right: 0;
}
main .banner .banner_sea {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  background-position: left center;
  z-index: 1;
  overflow: hidden;
}
main .banner .banner_sea img {
  width: 100%;
  height: 100%;
}
main .banner .banner_ship {
  position: absolute;
  width: 100vw;
  height: 100%;
  bottom: 65px;
  right: -5vw;
  background: url(../img/parallax/ship.png) no-repeat right;
  z-index: 2;
  -webkit-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
main .banner .banner_ship img {
  width: 100vw;
  height: 100%;
}
main .banner .scroll_arrow {
  position: absolute;
  z-index: 10;
  bottom: 10vh;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-animation: spin 2.4s infinite linear;
          animation: spin 2.4s infinite linear;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
}
@keyframes spin {
  0% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
  50% {
    -webkit-transform: translate3d(0, 50%, 0);
            transform: translate3d(0, 50%, 0);
  }
  100% {
    -webkit-transform: translate3d(0, -50%, 0);
            transform: translate3d(0, -50%, 0);
  }
}
main .about {
  max-width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 68px;
  position: relative;
}
main .about .about_container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-left: 0;
  margin-right: 72px;
  width: 582px;
  height: 563px;
}
main .about .about_container .about_slider img {
  width: 582px;
  height: 563px;
}
main .about .about_container .about_navigation {
  position: absolute;
  z-index: 6;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .about .about_container .about_navigation .next_about {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .about .about_container .about_navigation .next_about:hover {
  background: #4C86A0;
}
main .about .about_container .about_navigation .next_about:hover svg path {
  fill: rgba(255, 255, 255, 0.8);
}
main .about .about_container .about_navigation .prev_about {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .about .about_container .about_navigation .prev_about:hover {
  background: #4C86A0;
}
main .about .about_container .about_navigation .prev_about:hover svg path {
  fill: rgba(255, 255, 255, 0.8);
}
main .about .about_text {
  margin-top: 66px;
  position: relative;
}
main .about .about_text .about_box {
  position: absolute;
  width: 464px;
  height: 160px;
  border: 3px solid #F7F3EA;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  left: -113px;
  top: -35px;
  z-index: 10;
}
main .about .about_text .about_description {
  max-width: 512px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.19%;
  /* or 24px */
  color: #58595B;
  margin-bottom: 61px;
}
main .about .about_text .about_more {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.19%;
  /* identical to box height, or 24px */
  color: #58595B;
}
main .about .about_text .about_more p {
  padding-right: 9px;
  position: relative;
  z-index: 2;
  background: #fff;
}
main .about .about_text .about_more svg {
  position: relative;
  z-index: 1;
  -webkit-transform: translateX(-18px);
      -ms-transform: translateX(-18px);
          transform: translateX(-18px);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .about .about_text .about_more:hover svg {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}
main .about .about_text .about_title h2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #4C86A0;
}
main .about .about_text .about_title hr {
  margin-top: 16px;
  margin-bottom: 16px;
  width: 57px;
  border: 2px solid #4C86A0;
  text-align: left;
  display: inline-block;
}
main .about .about_text .about_title p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 136.19%;
  /* identical to box height, or 22px */
  color: #F28660;
  margin-bottom: 70px;
}
main .manafacture {
  position: relative;
  width: 100vw;
  height: 765px;
  background: #F9F8F8;
}
main .manafacture .manafacture_wrapper {
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
}
main .manafacture .manafacture_wrapper .manafacture_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #4C86A0;
  margin: 0 auto;
  margin-top: 61px;
  margin-bottom: 64px;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper {
  position: relative;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_navigation {
  position: absolute;
  z-index: 6;
  top: 0;
  left: 638px;
  width: 80px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_navigation .next_arrow {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_navigation .next_arrow:hover {
  background: #4C86A0;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_navigation .next_arrow:hover svg path {
  fill: rgba(255, 255, 255, 0.8);
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_navigation .prev_arrow {
  width: 40px;
  height: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: rgba(255, 255, 255, 0.8);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_navigation .prev_arrow:hover {
  background: #4C86A0;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_navigation .prev_arrow:hover svg path {
  fill: rgba(255, 255, 255, 0.8);
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .swiper-slide-active {
  width: 718px !important;
  height: 362px !important;
  margin-right: 72px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .swiper-slide-active .manafacture_slide {
  position: relative;
  width: 718px;
  height: 362px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .swiper-slide-active .manafacture_slide .slide_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .swiper-slide-active .manafacture_slide img {
  width: 718px;
  height: 362px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_slide {
  position: relative;
  width: 410px;
  height: 240px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_slide .slide_mask {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.38)), to(rgba(255, 255, 255, 0.38)));
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38));
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.38), rgba(255, 255, 255, 0.38));
}
main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_slide img {
  width: 410px;
  height: 240px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_more {
  margin-top: 31px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .manafacture .manafacture_wrapper .manafacture_more p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.19%;
  /* identical to box height, or 24px */
  color: #58595B;
  margin-right: 5px;
}
main .manafacture .manafacture_wrapper .manafacture_more p {
  padding-right: 9px;
  position: relative;
  z-index: 2;
  background: #F9F8F8;
}
main .manafacture .manafacture_wrapper .manafacture_more svg {
  position: relative;
  z-index: 1;
  -webkit-transform: translateX(-23px);
      -ms-transform: translateX(-23px);
          transform: translateX(-23px);
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .manafacture .manafacture_wrapper .manafacture_more:hover svg {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
}
main .manafacture .manafacture_wrapper .manafacture_text {
  position: absolute;
  z-index: 6;
  width: 687px;
  height: 245px;
  bottom: -100px;
  right: 0;
  background: #FFFFFF;
}
main .manafacture .manafacture_wrapper .manafacture_text p {
  padding: 50px 81px 49px 63px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.19%;
  /* or 24px */
  color: #58595B;
}
main .manafacture .manafacture_wrapper .manafacture_text img {
  position: absolute;
  width: 124.51px;
  height: 124.51px;
  bottom: -52px;
  right: -52px;
  -webkit-transform: rotate(15deg);
      -ms-transform: rotate(15deg);
          transform: rotate(15deg);
}
main .manafacture .manafacture_vawe {
  position: absolute;
  left: 0;
  bottom: 135px;
}
main .manafacture .manafacture_vawe2 {
  position: absolute;
  left: 0;
  bottom: 0;
}
main .product {
  width: 100vw;
  padding-top: 76px;
  padding-bottom: 41px;
  position: relative;
}
main .product .product_vawe {
  position: absolute;
  right: 0;
  top: 164px;
}
main .product .product_wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 2;
}
main .product .product_wrapper .product_pics {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  width: 600px;
}
main .product .product_wrapper .product_pics .product_item {
  position: relative;
  width: 277px;
  height: 274px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  margin-right: 30px;
  margin-bottom: 30px;
}
main .product .product_wrapper .product_pics .product_item .item_title {
  margin-top: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #58595B;
  max-width: 229px;
}
main .product .product_wrapper .product_pics .product_item:nth-child(2n+2) {
  margin-right: unset;
}
main .product .product_wrapper .product_pics .product_item img {
  position: relative;
  z-index: 3;
}
main .product .product_wrapper .product_pics .product_item .item_sun {
  position: absolute;
  width: 10px;
  height: 10px;
  opacity: 0;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  background: #F9DD9A;
  border-radius: 70px;
  z-index: 2;
  -webkit-transition: -webkit-transform 0.4s;
  transition: -webkit-transform 0.4s;
  -o-transition: transform 0.4s;
  transition: transform 0.4s;
  transition: transform 0.4s, -webkit-transform 0.4s;
}
main .product .product_wrapper .product_pics .product_item:hover .item_sun {
  opacity: 1;
  -webkit-transform: scale(15, 15);
      -ms-transform: scale(15, 15);
          transform: scale(15, 15);
}
main .product .product_wrapper .product_info {
  padding-left: 68px;
  max-width: 496px;
}
main .product .product_wrapper .product_info .product_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #4C86A0;
  margin-top: 51px;
}
main .product .product_wrapper .product_info hr {
  width: 57px;
  height: 1px;
  background: #4C86A0;
  margin: 23px 0 65px 0;
}
main .product .product_wrapper .product_info .product_subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 149.19%;
  /* or 27px */
  text-transform: uppercase;
  color: #58595B;
}
main .product .product_wrapper .product_info .product_text {
  margin-top: 25px;
}
main .product .product_wrapper .product_info .product_text p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.19%;
  /* or 24px */
  color: #58595B;
}
main .product .product_wrapper .product_info .product_btn {
  background: #4C86A0;
  border-radius: 62px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid transparent;
  margin-top: 40px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .product .product_wrapper .product_info .product_btn p {
  padding: 8px 23px 8px 23px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.19%;
  /* identical to box height, or 24px */
  color: #FFFFFF;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
main .product .product_wrapper .product_info .product_btn:hover {
  background: #fff;
  border-color: #4C86A0;
}
main .product .product_wrapper .product_info .product_btn:hover p {
  color: #4C86A0;
}
main .contact {
  width: 100vw;
  background: #F9F8F8;
  position: relative;
  padding-bottom: 105px;
}
main .contact .contact_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 35px;
  color: #4C86A0;
  padding-top: 51px;
  margin-bottom: 71px;
  text-align: center;
}
main .contact .contact_wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 7;
}
main .contact .contact_wrapper .contact_info {
  max-width: 588px;
}
main .contact .contact_wrapper .contact_info .contact_item strong {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  color: #4C86A0;
}
main .contact .contact_wrapper .contact_info .contact_item p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.19%;
  /* identical to box height, or 24px */
  color: #58595B;
  margin-bottom: 22px;
  margin-top: 7px;
}
main .contact .contact_wrapper .contact_info .contact_item p a {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 149.19%;
  /* identical to box height, or 24px */
  color: #58595B;
}
main .contact .contact_wrapper .contact_info .contact_firm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
main .contact .contact_wrapper .contact_info .contact_firm img {
  margin-right: 27px;
}
main .contact .contact_wrapper .contact_info .contact_firm p {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 22px;
  color: #4C86A0;
}
main .contact .contact_wrapper .contact_info .contact_firm p a {
  color: #4C86A0;
  text-decoration: underline !important;
}
main .contact .contact_map {
  position: absolute;
  right: 0;
  top: 160px;
  width: 50%;
  height: 422px;
  overflow-x: hidden;
  z-index: 1;
}
main .contact .contact_map .map {
  width: 100%;
  height: 422px;
}
main .contact .contact_map .world_time {
  position: absolute;
  left: -224px;
  bottom: 143px;
  background: #4C86A0;
}
main .contact .contact_map .world_time p {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 23px;
  color: #FFFFFF;
  padding: 11px 15px 12px 14px;
}
main .contact .contact_vawe {
  position: absolute;
  top: 111px;
  left: 0;
  z-index: 0;
}
main .contact .contact_vawe2 {
  position: absolute;
  top: -25px;
  left: 0;
  z-index: 0;
}
.footer_line {
  width: 100vw;
  height: 19px;
  background: url(../img/footer-line.png);
  background-repeat: repeat-x;
}
footer {
  width: 100vw;
  height: 338px;
  background: #4C86A0;
  position: relative;
}
footer .footer_ships {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}
footer .footer_wrapper {
  padding-top: 15px;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}
footer .footer_wrapper .footer_menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 77px;
}
footer .footer_wrapper .footer_menu .footer_item {
  margin-right: 37px;
  font-family: Segoe UI;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  color: #FFFFFF;
}
footer .footer_wrapper .footer_menu .footer_item:last-child {
  margin-right: 80px;
}
footer .footer_wrapper .footer_menu .footer_item:hover {
  color: #F9DD9A;
}
footer .footer_basement {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  margin-top: 127px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}
footer .footer_basement .copyright a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  /* identical to box height */
  color: #FFFFFF;
}
footer .footer_basement .year {
  margin-top: 46px;
  margin-left: 336px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.burger,
.mbanner,
.mbanner_title,
.mproduct_title,
.mhr,
.mproduct_btn,
.mfooter_wrapper,
.mfooter_basement,
.mheader_wrapper,
.xclose {
  display: none;
}
@media (max-width: 1200px) {
  header .header_wrapper {
    max-width: 600px;
  }
  header .header_wrapper .header__menu {
    display: none;
  }
  header .header_wrapper .burger {
    display: block;
  }
  .opened {
    background: #FFFFFF;
    height: 100vh;
  }
  .opened .mheader_wrapper {
    padding-top: 60px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .opened .mheader_wrapper .mob_vawe {
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    z-index: 0;
  }
  .opened .mheader_wrapper .mheader_menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    z-index: 1;
  }
  .opened .mheader_wrapper .mheader_menu .mitem {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #141414;
    margin-bottom: 64px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  .opened .mheader_wrapper .mheader_menu .mitem:hover {
    color: #4C86A0;
  }
  main .banner .banner_wrapper .banner_title {
    margin: 0 auto !important;
    text-align: center;
  }
  main .about {
    max-width: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .manafacture .manafacture_wrapper {
    max-width: 600px;
  }
  main .manafacture .manafacture_wrapper .manafacture_more {
    position: absolute;
    bottom: -150px;
  }
  main .product .product_wrapper {
    max-width: 600px;
  }
  main .contact {
    padding-bottom: unset;
  }
  main .contact .contact_wrapper {
    max-width: 600px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .contact .contact_map {
    position: unset;
    width: 100%;
    margin-top: 20px;
  }
  main .contact .contact_map .world_time {
    position: absolute;
    left: 717px;
    top: 380px;
    bottom: unset;
  }
  footer .footer_wrapper {
    max-width: 600px;
  }
  footer .footer_wrapper .footer_menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    margin: 0 40px 0 40px;
    height: 160px;
    width: 300px;
  }
  footer .footer_wrapper .footer_menu .footer_item {
    margin-right: 20px;
    margin-bottom: 21px;
    min-width: 108px;
  }
  footer .footer_wrapper .footer_menu .footer_item:last-child {
    margin-right: 20px;
  }
  footer .footer_basement {
    max-width: 600px;
    padding-bottom: 20px;
    margin-top: 27px;
  }
}
@media (max-width: 768px) {
  header .header_wrapper {
    padding-top: 11px;
    max-width: 300px;
  }
  main .banner {
    display: none;
    height: 100vw;
  }
  main .mbanner {
    width: 100vw;
    height: 100vw;
    display: block;
    background: url(../img/mob_banner.png) no-repeat center;
    background-size: cover;
  }
  main .mbanner_title {
    display: block;
    max-width: 300px;
    margin: 0 auto;
    margin-top: 12px;
    margin-bottom: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 108.01%;
    /* or 22px */
    letter-spacing: 0.02em;
    text-transform: uppercase;
    color: #4C86A0;
  }
  main .about {
    max-width: 300px;
    padding-bottom: 33px;
  }
  main .about .about_container {
    width: 290px;
    height: 282px;
  }
  main .about .about_container .about_slider img {
    width: 290px;
    height: 282px;
  }
  main .about .about_text {
    margin-top: 33px;
  }
  main .about .about_text .about_title h2 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #4C86A0;
  }
  main .about .about_text .about_title hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #4C86A0;
  }
  main .about .about_text .about_title p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 136.19%;
    /* identical to box height, or 19px */
    color: #F28660;
    margin-bottom: unset;
  }
  main .about .about_text .about_box {
    width: 459px;
    height: 100px;
    left: -247px;
    top: -18px;
  }
  main .about .about_text .about_description {
    max-width: 320px;
    margin-top: 29px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.19%;
    /* or 21px */
    color: #58595B;
    margin-bottom: 25px;
  }
  main .manafacture {
    height: 640px;
    overflow: hidden;
  }
  main .manafacture .manafacture_wrapper {
    max-width: 300px;
  }
  main .manafacture .manafacture_wrapper .manafacture_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #4C86A0;
    margin-top: 38px;
    margin-bottom: 35px;
    margin-left: 15px;
  }
  main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_navigation {
    top: unset;
    left: unset;
    bottom: 0;
    right: 21px;
  }
  main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .swiper-slide-active {
    width: 279px !important;
    height: 200px !important;
    margin-right: 11px;
  }
  main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .swiper-slide-active .manafacture_slide {
    width: 279px !important;
    height: 200px !important;
    margin-right: 11px;
  }
  main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .swiper-slide-active .manafacture_slide img {
    width: 279px;
    height: 200px;
  }
  main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_slide {
    width: 279px !important;
    height: 200px !important;
    margin-right: 11px;
  }
  main .manafacture .manafacture_wrapper .manafacture_content .manafacture_swiper .manafacture_slide .slide_mask {
    display: none;
  }
  main .manafacture .manafacture_wrapper .manafacture_text {
    position: relative;
    background: transparent;
    width: 289px;
    height: auto;
    bottom: unset;
  }
  main .manafacture .manafacture_wrapper .manafacture_text p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.19%;
    /* or 21px */
    color: #58595B;
    padding: 0;
    padding-top: 33px;
  }
  main .manafacture .manafacture_wrapper .manafacture_text img {
    width: 81px;
    height: 81px;
    right: -12px;
  }
  main .manafacture .manafacture_wrapper .manafacture_more {
    bottom: -60px;
  }
  main .manafacture .manafacture_vawe,
  main .manafacture .manafacture_vawe2 {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  main .manafacture .manafacture_vawe {
    bottom: 55px;
  }
  main .manafacture .manafacture_vawe2 {
    bottom: -87px;
  }
  main .product {
    padding-top: 26px;
  }
  main .product .product_vawe {
    display: none;
  }
  main .product .product_wrapper {
    max-width: 300px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .product .product_wrapper .mproduct_title {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #4C86A0;
  }
  main .product .product_wrapper .mhr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 57px;
    height: 1px;
    background: #4C86A0;
    margin: 10px 0 23px 0;
  }
  main .product .product_wrapper .product_pics {
    width: 300px;
    margin: 0 auto;
  }
  main .product .product_wrapper .product_pics .product_item {
    width: 142px;
    height: 140px;
    margin-right: 6px;
    margin-bottom: 5px;
  }
  main .product .product_wrapper .product_pics .product_item .item_sun {
    top: 46px;
  }
  main .product .product_wrapper .product_pics .product_item:hover .item_sun {
    -webkit-transform: scale(7, 7);
    -ms-transform: scale(7, 7);
    transform: scale(7, 7);
  }
  main .product .product_wrapper .product_pics .product_item img {
    max-width: 104px;
    max-height: 60px;
  }
  main .product .product_wrapper .product_pics .product_item .item_title {
    max-width: 132px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
    color: #58595B;
    margin-top: 13px;
  }
  main .product .product_wrapper .product_pics .product_item:nth-child(2n+2) {
    margin-right: unset;
  }
  main .product .product_wrapper .mproduct_btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    background: #4C86A0;
    border-radius: 62px;
    border: 1px solid #4C86A0;
    margin: 0 auto;
    margin-top: 33px;
    margin-bottom: 27px;
    padding: 5px 12px 6px 11px;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
  }
  main .product .product_wrapper .mproduct_btn p {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.19%;
    /* identical to box height, or 21px */
    color: #FFFFFF;
  }
  main .product .product_wrapper .mproduct_btn:hover {
    background: #fff;
  }
  main .product .product_wrapper .mproduct_btn:hover p {
    color: #4C86A0;
  }
  main .product .product_wrapper .product_info {
    padding: 0;
    max-width: 320px;
    margin: 0 auto;
  }
  main .product .product_wrapper .product_info .product_title,
  main .product .product_wrapper .product_info hr,
  main .product .product_wrapper .product_info .product_btn {
    display: none;
  }
  main .product .product_wrapper .product_info .product_subtitle {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 149.19%;
    /* or 24px */
    text-transform: uppercase;
    color: #58595B;
  }
  main .product .product_wrapper .product_info .product_text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 149.19%;
    /* or 21px */
    color: #58595B;
    margin-top: 12px;
  }
  main .contact {
    overflow-x: hidden;
  }
  main .contact .contact_vawe,
  main .contact .contact_vawe2 {
    -webkit-transform: rotateX(180deg);
            transform: rotateX(180deg);
  }
  main .contact .contact_title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #4C86A0;
    padding-top: 20px;
    margin-bottom: unset;
    text-align: left;
    max-width: 300px;
    margin: 0 auto;
  }
  main .contact .mhr {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 57px;
    height: 1px;
    background: #4C86A0;
    margin: 10px 0 15px 0;
  }
  main .contact .contact_wrapper {
    max-width: 300px;
  }
  main .contact .contact_wrapper .contact_info {
    max-width: 320px;
  }
  main .contact .contact_wrapper .contact_info .contact_item strong {
    font-size: 16px;
    line-height: 19px;
  }
  main .contact .contact_wrapper .contact_info .contact_item p,
  main .contact .contact_wrapper .contact_info .contact_item a {
    font-size: 14px;
  }
  main .contact .contact_wrapper .contact_info .contact_firm p {
    font-size: 13px;
    line-height: 16px;
  }
  main .contact .contact_wrapper .contact_info .contact_firm img {
    width: 40px;
  }
  main .contact .contact_map {
    padding-bottom: 40px;
  }
  main .contact .contact_map .world_time {
    left: unset;
    right: 15px;
    top: 300px;
  }
  footer {
    height: 100vh;
    overflow-x: hidden;
  }
  footer .footer_ships {
    right: -100%;
    bottom: 85px;
  }
  footer .footer_wrapper {
    max-width: 300px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  footer .footer_wrapper .footer_logo {
    width: 178px;
    height: 65px;
  }
  footer .footer_wrapper .footer_menu {
    display: none;
  }
  footer .footer_wrapper .anchor {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  footer .mfooter_wrapper {
    display: block;
  }
  footer .mfooter_wrapper .footer_menu {
    max-width: 300px;
    height: 120px;
    margin: 0 auto;
    margin-top: 31px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
            align-content: space-around;
  }
  footer .mfooter_wrapper .footer_menu .footer_item {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
    margin-bottom: 21px;
    text-align: left;
  }
  footer .footer_basement {
    display: none;
  }
  footer .mfooter_basement {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    max-width: 300px;
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    z-index: 5;
  }
  footer .mfooter_basement .copyrights a {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #FFFFFF;
  }
  footer .mfooter_basement .year p {
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
  }
}
