main{
    padding-top: 102px;
    nav{
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;
        margin-bottom: 72px;
        margin-top: 27px;
        ul{
            display: flex;
            justify-content: flex-end;
            li{
                font-family: Roboto;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 149.19%;
                /* identical to box height, or 21px */


                color: #4C86A0;
                a{
                    color: #58595B;
                    border-right: 1px solid #4C86A0;
                    padding-right: 5px;
                }
                p{
                    padding-left: 5px;
                }
            }
        }
    }
}